body {
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: #1E5D81;
    color: white;
    display: flow-root;
    height: 100%;
    width: 250px;
    position: fixed;
    top: 80px;
    left: 0;
}

.sidebar ul a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}